.header {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: gray;
  box-sizing: border-box;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  padding: 0 2em;
}
